{% extends 'base.html' %}

{% block content %}


    {% if not user.is_superuser %}

        <div class="container">
            <!-- Cabecera -->
            <br/>
            <div class="row justify-content-center">
                <div class="page-header">
                    <h1>No dispones de los permisos requeridos para ver este contenido.</h1>
                </div>
            </div>
        </div>
    {% else %}

        <head>
            <!-- Movil y teclado -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" type="text/css" href="footer.css">

            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

            <title>Crear Votación UCA</title>
        </head>

        <div class="container">
            <!-- Cabecera -->
            <br>
            <div class="row justify-content-center">
                <div class="page-header"><h1>Crear Votación</h1></div>
            </div>
            <!--Formulario-->
            <form method="post">{% csrf_token %}
                {% if form.non_field_errors  %}
                <div class="alert alert-danger">
                    <strong>{{form.non_field_errors}</strong>
                </div>
              {% endif %}
                <div class="form-group">
                    <label for="form-tittle" class="col-lg-3 col-form-label">Título</label>
                    <div class="col-lg-12">
                        {{ form.nombre_votacion }}
                    </div>
                </div>
                <br>
                <!--Booleanos-->
                <div class="col-lg-10">
                    <div class="form-check" id="CheckboxRectVotos">
                        <!--<div class="px-5">-->
                        <label class="form-check-label">
                            {{form.voto_rectificable}} Permitir rectificación de votos
                            <p>Sí la votación tiene permitida la rectificación de votos, el usuario podrá cambiar su voto hasta la fecha de finalización de la misma.</p>
                        </label>
                    </div>
                </div>
                <br>
                <div class="col-lg-10">
                    <div class="form-check" id="CheckboxRectVotos">
                        <!--<div class="px-5">-->
                        <label class="form-check-label">
                            {{form.voto_restringido}} Votacion restringida
                            <p>Al restringir la votación, esta quedará habilitada solo, para los usuarios del censo que se cree posteriormente para dicha votación.</p>
                        </label>
                    </div>
                </div>
                <br>
                <div class="col-lg-10">
                    <div class="form-check" id="CheckboxRectVotos">
                        <!--<div class="px-5">-->
                        <label class="form-check-label">
                            {{form.es_consulta}} ¿Es una consulta?
                            <p>Sí es una consulta, crearás una votación no vinculante entre los miembros de un colectivo.</p>
                        </label>
                    </div>
                </div>

                <!-- Elección fecha y hora para votación pública -->
                <br>
                <div class="form-group" id="BloqueVotAnticipada">
                    <div class="form-group row px-5">
                        <div class="col-lg-6" id="FechaInicio">
                            <label for="FechaInicio" class="control-label">Fecha inicio:</label>
                                <div class="input-group date">
                                    {{form.fecha_inicio}} <!--input type="date" class="form-control inputstl" placeholder="Select Date"-->
                                </div>
                        </div>
                        <div class="col-lg-6" id="FechaFin">
                            <label for="FechaFin" class="control-label">Fecha fin:</label>
                                <div class="input-group date">
                                    {{form.fecha_fin}} <!--input type="date" class="form-control inputstl" placeholder="Select Date"-->
                                </div>
                        </div>
                    </div>

                    <div class="form-group row px-5">
                        <div class="col-lg-6" id="HoraInicio">
                            <label for="HoraInicio" class="control-label">Hora inicio:</label>
                                <div class="input-group time">
                                    {{form.hora_inicio}} <!--input type="time" class="form-control inputstl"-->
                                </div>
                        </div>
                        <div class="col-lg-6" id="HoraFin">
                            <label for="HoraFin" class="control-label">Hora fin:</label>
                            <div class="input-group time">
                                {{form.hora_fin}} <!--input type="time" class="form-control inputstl"-->
                            </div>
                        </div>
                    </div>
                  <!-- Fin fecha y hora votación pública -->
                <div class="center align=">
                    <br>
                    <div align="center">
                    <input type="submit" value="Guardar" class="btn btn-primary" name="_save">
                        </div>
                </div>
        </div>
        </form>
    </div>
    {% endif %}
{% endblock %}

        <!-- Requisitos para bootstrap 4 y js  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <!-- Código javascript -->
        <script>
            $( document ).ready(function() {
            $("#from-datepicker").datepicker({ 
            format: 'yyyy-mm-dd'
            });
            $("#from-datepicker").on("change", function () {
            var fromdate = $(this).val();
            alert(fromdate);
            });
            }); 
        </script>

        </body>




