<!doctype html>
<html lang="es">

  <head>
    <!-- Movil y teclado -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Votaciones UCA</title>
  </head>

  <body>
	<!-- header  -->
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	  <!-- Brand -->
	  <a class="navbar-brand" href="#">Logo</a>

	  <!-- Links -->
	  <ul class="navbar-nav">
		<li class="nav-item">
		  <a class="nav-link" href="#">Inicio</a>
		</li>

		<!-- Dropdown -->
		<li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Votaciones</a>
		  <div class="dropdown-menu">
			<a class="dropdown-item" href="#">Lista de votaciones</a>
			<a class="dropdown-item" href="#">Votaciones finalizadas</a>
			<a class="dropdown-item" href="#">Crear Votación</a>
		  </div>
		</li>

		<li class="nav-item">
		  <a class="nav-link" href="#">Ayuda</a>
		</li>

		<li class="nav-item navbar-item-right">
		  <a class="nav-link float-right" href="#">Ayuda</a>
		</li>
	  </ul>
	</nav>
	<!-- Fin header  -->
  <div class="container">
    <div class="col-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#aFavorModalCenter">A favor</a>
        <a href="#" class="list-group-item list-group-item-action"data-toggle="modal" data-target="#enContraModalCenter">En contra</a>
        <a href="#" class="list-group-item list-group-item-action"data-toggle="modal" data-target="#abstencionModalCenter">Abstención</a>
      </div>
    </div>
  </div>


  <div class="modal fade" id="aFavorModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">¿Confirmar Voto a favor?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Al confirmar se enviará el voto.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="enContraModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">¿Confirmar Voto en contra?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Al confirmar se enviará el voto.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Enviar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>

<div class="modal fade" id="abstencionModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">¿Confirmar Voto en contra?</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Al confirmar se enviará el voto.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Enviar</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
  </div>
</div>
</div>
	<!-- Footer  -->
	<!-- Fin Footer  -->
    <!-- Requisitos para bootstrap 4 y js  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>
