{% load static %}
<!doctype html>
<html>

<head>
    <!-- Movil y teclado -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Votaciones UCA</title>
    <!-- Movil y teclado -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          crossorigin="anonymous"/>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js">
    </script>

    <!-- For DataTable -->
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.css"/>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.20/af-2.3.4/b-1.6.1/b-colvis-1.6.1/b-flash-1.6.1/b-html5-1.6.1/b-print-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sl-1.3.1/datatables.min.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
</head>

<body>
<style>
    .usernif {
        color: white;
        text-align: end;

    }
</style>
 <!-- header  -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand-->
    <a class="navbar-brand" href=" ">
    <img src="img/SenUca.png" alt="" class="img-fluid" width="50" height="60">
    </a>    

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
        </li>

        {% if not user.is_superuser %}
        <!-- Dropdown -->
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'listavotaciones' %}">Votaciones</a>
        </li>

             <li class="nav-item">
            <a class="nav-link" href="{% url 'listavotaciones' %}">Elecciones</a>
        </li>



        <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">Ayuda</a>
        </li>

        <li class="nav-item nav-item-right">
            {% if user.is_authenticated %}
                <a class="nav-link float-right" href="{% url 'logout' %}">Salir</a>

            {% else %}
                <a class="nav-link float-right" href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </li>


    </ul>

    {% else %}
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Votaciones</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'listavotaciones' %}">Lista de votaciones</a>
                <a class="dropdown-item" href="#">Votaciones finalizadas</a>
                <a class="dropdown-item" href="{% url 'crearvotacion' %}">Crear votación</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Elecciones</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'home' %}">Lista de elecciones</a>
                <a class="dropdown-item" href="#">Elecciones finalizadas</a>
                <a class="dropdown-item" href="{% url 'create_eleccion' %}">Crear elección</a>
            </div>
        </li>

      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Usuarios</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'usuariouca_create' %}">Crear usuario</a>
                <a class="dropdown-item" href="{% url 'usuariouca_list' %}">Lista de usuarios</a>
            </div>
        </li>

      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Censo</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'censo_create' %}">Crear censo</a>
                <a class="dropdown-item" href="{% url 'home' %}">Lista de censos</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'faq' %}">Ayuda</a>
        </li>

        <li class="nav-item nav-item-right">
            {% if user.is_authenticated %}
                <a class="nav-link float-right" href="{% url 'logout' %}">Salir</a>

            {% else %}
                <a class="nav-link float-right" href="{% url 'login' %}">Entrar</a>
            {% endif %}
        </li>


    </ul>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="usernif">
            <a style="...">Usuario: {{ user.nif }}</a>
        </div>
    {% endif %}
</nav>

{% if messages %}
    {% for message in messages %}
        <div>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<!-- Fin header  -->
{% block content %}
{% endblock %}
<!-- Footer  -->

<footer class="footer-area footer--light">
    <div class="footer-big">
        <!-- start .container -->
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget">
                        <div class="widget-about">
                            <img src="http://www.coglobal.es/wp-content/uploads/2017/03/sponsor-uca.png" alt=""
                                 class="img-fluid">
                            <p>Web de votaciones para la UCA</p>
                            <ul class="contact-details">
                                <li>
                                    <span class="icon-envelope-open"></span>
                                    <a href="mailto:#">email de contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-md-4 -->
                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu footer-menu--1">
                            <h4 class="footer-widget-title">Páginas de Interes</h4>
                            <ul>
                                <li>
                                    <a href="https://www.uca.es/">UCA</a>
                                </li>
                                <li>
                                    <a href="https://github.com/joaquinpco/Votaciones-Pinf-19">GitHub</a>
                                </li>
                                <li>
                                    <a href="https://pinfvot.herokuapp.com/">Heroku</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-md-3 -->

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu">
                            <h4 class="footer-widget-title">La compañia</h4>
                            <ul>
                                <li>
                                    <a href="#">Sobre nosotros</a>
                                </li>
                                <li>
                                    <a href="#">Contactanos</a>
                                </li>
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- end /.col-lg-3 -->

                <div class="col-md-3 col-sm-4">
                    <div class="footer-widget">
                        <div class="footer-menu no-padding">
                            <h4 class="footer-widget-title">Soporte</h4>
                            <ul>
                                <li>
                                    <a href="#">Guia Rápida</a>
                                </li>
                                <li>
                                    <a href="#">Foro de Ayuda</a>
                                </li>
                                <!-- repetir estructura li para añadir mas-->
                            </ul>
                        </div>
                        <!-- end /.footer-menu -->
                    </div>
                    <!-- Ends: .footer-widget -->
                </div>
                <!-- Ends: .col-lg-3 -->

            </div>
            <!-- end /.row -->
        </div>
        <!-- end /.container -->
    </div>
    <!-- end /.footer-big -->

    <div class="mini-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-text">
                        <p>© 2019
                            <a href="#">Votaciones UCA</a>. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Fin Footer  -->
<!-- Requisitos para bootstrap 4 y js  -->

</body>

</html>
</html>