{% extends 'base.html' %}

{% block content %}

    {% if not user.is_superuser %}
        <div class="container">
            <!-- Cabecera -->
            <br/>
            <div class="row justify-content-center">
                <div class="page-header">
                    <h1>No dispones de los permisos requeridos para ver este contenido.</h1>
                </div>
            </div>
        </div>
    {% else %}
        <head>

        <!-- Movil y teclado -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="footer.css">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

        <title>Crear Votación UCA</title>


        <div class="container">
        <!-- Cabecera -->
        <br>
        <div class="row justify-content-center">
            <div class="page-header"><h1>Crear Votación</h1></div>
        </div>
            <!--Formulario-->
            <form method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="form-tittle" class="col-lg-3 col-form-label">Título</label>
                    <div class="col-lg-12">
                        {{ form.nombre_votacion }}
                    </div>
                </div>
                <br>
                <!--Booleanos-->
                <div class="col-lg-10" id="esConsulta">
                    <label for="esConsulta">¿Es una Consulta?</label>
                    <br>
                    {{ form.es_consulta }}
                </div>
                <br>
                <div class="col-lg-10">
                    <label for="checkbox">¿Es Presencial?</label>
                    <br>
                    {{ form.es_presencial }}
                </div>
                <br>
                <div class="col-lg-10">
                    <label for="checkbox">Permitir Voto Rectificable</label>
                    <br>
                    {{ form.voto_rectificable }}
                </div>
                <br>
        
                <div class="form-group row px-5">
                    <div class="col-lg-6" id="fecha_inicio">
                        <label for="fecha_inicio" class="control-label">Fecha inicio:</label>
                        <div class="input-group date">
                            {{ form.fecha_inicio }}
                        </div>
                    </div>
                    <div class="col-lg-0" id="fecha_fin">
                        <label for="fecha_fin" class="control-label">Fecha fin:</label>
                        <div class="input-group date">
                            {{ form.fecha_fin }}
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group row px-5">
                    <div class="col-lg-6" id="hora_inicio">
                        <label for="hora_inicio" class="control-label">Hora inicio:</label>
                        <div class="input-group time">
                            {{ form.hora_inicio }}
                        </div>
                    </div>
                    <div class="col-lg-0" id="hora_fin">
                        <label for="hora_fin" class="control-label">Hora fin:</label>
                        <div class="input-group time">
                            {{ form.hora_fin }}
                        </div>
                    </div>
                </div>
                <br>
            
                <div class="col-lg-10">
                    <label>Tipo de Votacion</label>
                    {{ form.tipo_votacion }}
                  </div>
                <br>
        
                <div class="col-lg-10">
                    <label>Nº máximo de respuestas</label>
                    {{ form.max_respuestas }}
                </div>
                <br>
        
                <div class="submit-row">
                    <input type="submit" value="Grabar" class="default" name="_save">
                </div>
        </form>
    </div>

        <!-- Footer  -->

        <footer class="footer-area footer--light">
            <div class="footer-big">
                <!-- start .container -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="footer-widget">
                                <div class="widget-about">
                                    <img src="http://www.coglobal.es/wp-content/uploads/2017/03/sponsor-uca.png" alt=""
                                         class="img-fluid">
                                    <p>Web de votaciones para la UCA</p>
                                    <ul class="contact-details">
                                        <li>
                                            <span class="icon-envelope-open"></span>
                                            <a href="mailto:#">email de contacto</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Ends: .footer-widget -->
                        </div>
                        <!-- end /.col-md-4 -->
                        <div class="col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <div class="footer-menu footer-menu--1">
                                    <h4 class="footer-widget-title">Páginas de Interes</h4>
                                    <ul>
                                        <li>
                                            <a href="https://www.uca.es/">UCA</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/joaquinpco/Votaciones-Pinf-19">GitHub</a>
                                        </li>
                                        <li>
                                            <a href="https://pinfvot.herokuapp.com/">Heroku</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end /.footer-menu -->
                            </div>
                            <!-- Ends: .footer-widget -->
                        </div>
                        <!-- end /.col-md-3 -->

                        <div class="col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <div class="footer-menu">
                                    <h4 class="footer-widget-title">La compañia</h4>
                                    <ul>
                                        <li>
                                            <a href="#">Sobre nosotros</a>
                                        </li>
                                        <li>
                                            <a href="#">Contactanos</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- end /.footer-menu -->
                            </div>
                            <!-- Ends: .footer-widget -->
                        </div>
                        <!-- end /.col-lg-3 -->

                        <div class="col-md-3 col-sm-4">
                            <div class="footer-widget">
                                <div class="footer-menu no-padding">
                                    <h4 class="footer-widget-title">Soporte</h4>
                                    <ul>
                                        <li>
                                            <a href="#">Guia Rápida</a>
                                        </li>
                                        <li>
                                            <a href="#">Foro de Ayuda</a>
                                        </li>
                                        <!-- repetir estructura li para añadir mas-->
                                    </ul>
                                </div>
                                <!-- end /.footer-menu -->
                            </div>
                            <!-- Ends: .footer-widget -->
                        </div>
                        <!-- Ends: .col-lg-3 -->

                    </div>
                    <!-- end /.row -->
                </div>
                <!-- end /.container -->
            </div>
            <!-- end /.footer-big -->

            <div class="mini-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p>© 2019
                                    <a href="#">Votaciones UCA</a>. All rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Fin Footer  -->
        <!-- Requisitos para bootstrap 4 y js  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

        <!-- Código javascript -->

        </body>

        </html>

    {% endif %}
{% endblock %}
