{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/faq2.0.css' %}">
	<!-- Fin header  -->
    {% block content %}
    <div class="titulofaq">
      <h1 class="display-5 text-center">Preguntas frecuentes</h1>


<div class="container">

  <div class="row">
    <div class="col">
      <div class="d-flex-fill justify-content-center  w-100 my-md-4 pl-md-4"><!-- start - end - center - between - around -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h3 class="display-5">¿Qué es SenUca?</h3>
            <p>SenUca es un proyecto de la asignatura de Proyectos Informaticos, el cual nos permitirá a través de un entorno sencillo realizar votaciones, censos y la visualización de todas las votaciones necesarias para el buen funcionamiento de la Universidad de Cádiz.</p>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col">
      <div class="d-flex-fill justify-content-center  w-100 my-md-4 pl-md-4">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h3 class="display-5">¿Cómo accedemos a SenUca? </h3>
            <p>Por medio de su identificador del campus y su contraseña usted tendrá acceso a todas las utilidades de este.</p>
            </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col" >
      <div class="d-flex-fill justify-content-center w-100 my-md-4 pl-md-4"><!-- start - end - center - between - around -->
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h3 class="display-5">¿Qué hago si no tengo acceso a SenUca?</h3>
            <p>Contacte inmediatamente con el administrador a través del email indicado a pie de página. Recuerde que ningún administrador le pedirá nunca su contraseña.</p>
            </div>
        </div>
      </div>
    </div>
  </div>




    <div class="row">
      <div class="col">
        <div class="d-flex-fill justify-content-center  w-100 my-md-4 pl-md-4">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h3 class="display-5">¿Cómo realizo una votación? </h3>
            <p>Acceda al menú de votaciones, ahí se le mostrará las votaciones en las que usted puede participar. Si no está censado para una votación no podrá participar en ningún caso.</p>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col" >
          <div class="d-flex-fill justify-content-center  w-100 my-md-4 pl-md-4"><!-- start - end - center - between - around -->
            <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-2 px-md-5 text-center text-white overflow-hidden">
              <div class="my-3 py-3">
                <h3 class="display-5">¿Qué tengo que hacer para realizar una votación?</h3>
                <p>Para realizar una votación debe usted de tener los permisos consecuentes. Si es así, usted debe decidir el tipo de votación, las características de esta y debe de añadir el censo que tendrá dicha votación. </p>
              </div>
            </div>
          </div>
    </div>
  </div>

</div>


<p><br></p>


    {% endblock %}

    <!-- Requisitos para bootstrap 4 y js  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  
	  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

	<!-- (Optional) Latest compiled and minified JavaScript translation files -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
