{% extends 'base.html' %}
{% block content %}

    <!doctype html>

    <html lang="es">
    <div class="container">
        <!-- Cabecera -->
        <br>
        <div class="row justify-content-center">
            <div class="page-header"><h1>Lista de elecciones</h1></div>
        </div>
     
        <br/>
        <!-- Tabla -->
        <table id="dtVotaciones" class="table table-responsive table-hover-condensed text center" align="center" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="col-sm-3">Elecciones</th>
                <th class="col-sm-2">Estado</th>
                <th class="col-sm-2">Resultados</th>
                {% if user.is_superuser %}
                    <th class="col-sm-2">Modificar</th> 
                    <th class="col-sm-2">Eliminar</th> 
                {% endif %}
            </tr>
            </thead>
            <tbody>
                {% if object_list %}
                    {% for eleccion in object_list %}
                    <tr>
                                   
                        {% if eleccion.eleccion_cerrada %}
                            {% if eleccion.espera %}
                                <td><a class="nav-link" href="{% url 'listaelecciones' %}">{{eleccion.nombre}}</a></td>
                                <td><a class="nav-link" style="text-align: center" style="color:yellow;">Espera</a></td>
                            {% else %}
                                <td><a class="nav-link" href="{% url 'eleccion' pk=eleccion.pk %}">{{eleccion.nombre}}</a></td>
                                <td><a class="nav-link" style="text-align: center" style="color:green;">Abierta</a></td>
                            {% endif %}
                        {% else %}
                            <td><a class="nav-link" href="{% url 'listaelecciones' %}">{{eleccion.nombre}}</a></td>
                            <td><a class="nav-link" style="text-align: center" style="color:red;">Cerrada</a></td>
                        {% endif %} 

                        {% if  eleccion.eleccion_cerrada %}
                            <td><a class="nav-link">
                                <i class="fas fa-chart-pie" style="color:#9E9E9E ";></i></a>
                            </td>  
                        {% else %}
                            <td><a class="nav-link" href="{% url 'estadisticaseleccion' pk=eleccion.pk %}">
                                <i class="fas fa-chart-pie"></i></a>
                            </td>                        
                        {% endif %}     

                        {% if user.is_superuser %}
                            {% if eleccion.eleccion_cerrada %}
                                <td style="text-align: center"><a href="{% url 'eleccion_edit' pk=eleccion.pk %}" class="btn btn-warning">
                                    <i class="fas fa-edit"></i></a>
                                </td>
                            {% else %}
                                <td style="text-align: center"><a class="btn btn-secondary">
                                    <i class="fas fa-edit"></i></a>
                                </td>                            
                            {% endif %}
                            <td style="text-align: center"><a href="{% url 'eliminar_eleccion' pk=eleccion.pk %}" class="btn btn-danger">
                                <i class="fas fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% else %}
                    <h1>No hay elecciones disponibles</h1>
                {% endif %}
            </tbody>

        </table>

        <!-- Fin Tabla -->
    </div>
    <!-- Fin Container -->


    <!-- Ventana emergente -->
    <div class="modal fade" id="ModalCrearVotacion" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalCrearVotacionTitle">¿Está seguro de crear la votación?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Al confirmar se creará la votación con los datos introducidos.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Enviar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer  -->

{% endblock %}

<script type="text/javascript">
    function showContent() {
        element1 = document.getElementById("CheckboxVotAnticipada");
        bloqueVAnticipada = document.getElementById("BloqueVotAnticipada");
        element2 = document.getElementById("VotSimple");
        element3 = document.getElementById("VotCompleja");
        check = document.getElementById("CheckVotRestringida");
        check2 = document.getElementById("VotAnticipada");
        check3 = document.getElementById("CheckVotSimple");
        check4 = document.getElementById("CheckVotCompleja");
        if (check.checked) {
            element1.style.display = 'block';
            if (check2.checked) {
                bloqueVAnticipada.style.display = 'block';
            } else {
                bloqueVAnticipada.style.display = 'none';
            }
        } else {
            element1.style.display = 'none';
            check2.checked = 0;
            bloqueVAnticipada.style.display = 'none';
        }
        if (check3.checked) {
            element2.style.display = 'block';
        } else {
            element2.style.display = 'none';
        }
        if (check4.checked) {
            element3.style.display = 'block';
        } else {
            element3.style.display = 'none';
        }

    }
</script>
</body>

</html>
