{% extends 'base.html' %}
{% load static %}
{% block content %}

<!doctype html>
<html lang="es">

  <head>
    <!-- Movil y teclado -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Votaciones UCA</title>
  </head>
 <body>


  <div class="container text-center py-5">
    <h1 class="display-12">Votacion: Elección Secretario </h1>
  </div>

  <div class="container">
    <div class="row justify-content-md-center">
    <div class="col-4">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#multiModalCenter" value="1">Nombre1 Apellido1</a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#multiModalCenter" value="2">Nombre2 Apellido2</a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#multiModalCenter" value="3">Nombre4 Apellido4</a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#multiModalCenter" value="4">Nombre5 Apellido5</a>
        <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#multiModalCenter" value="5">Nombre6 Apellido6</a>

      </div>
    </div>
  </div>
</div>

  <!-- MODAL -->
  <div class="modal fade" id="multiModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">¿Confirmar Voto?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Al confirmar se enviará el voto.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Enviar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

	<!-- Footer  -->
	<!-- Fin Footer  -->
    <!-- Requisitos para bootstrap 4 y js  -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       {% endblock %}
  </body>

</html>