{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

 <head>




    <!-- Your custom styles (optional) -->
     <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- Bootstrap tooltips -->

    <!-- Bootstrap core JavaScript -->

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
  </head>

  <body>

      <!-- TITLE -->
      <div class="container text-center py-5">
        <h1 class="display-12">Resultado Votación: {{ votacion.nombre_votacion }} </h1>
      </div>

      <!-- PIE CHART -->
      <div class="container-fluid">
      <div class="row center px-5">
            <div class="col-xl-6 ">
              <canvas id="pieChart"></canvas>
            </div>

            <div class="col-xl-6">
              <table class="table table-bordered">
                <tbody>
              <tr>
                <th scope="row">Total Electores</th>
                <td>{{usuariosCenso}}</td>
              </tr>

              <tr>
                <th scope="row">Votos a favor</th>
                <td>{{si}}</td>
              </tr>

              <tr>
                <th scope="row">Votos en contra</th>
                <td>{{no}}</td>
              </tr>

              <tr>
                <th scope="row">Perticipación</th>
                <td>{{participacion}}%</td>
              </tr>

              <tr>
                <th scope="row">Abstención</th>
                <td>{{abstencion}}%</td>
              </tr>

              <tr>
                <th scope="row">Votos</th>
                <td>{{total}}</td>
              </tr>



 <!--             <tr>
                <th scope="row">Participación</th>
                <td>{{ participacion|floatformat }}%</td>
              </tr>

              <tr>
                <th scope="row">Abstención</th>
                <td>{{ abstencionporcentaje|floatformat }}%</td>
              </tr-->
            </tbody>
              </table>
            </div>

            <div class="col-xl-6 ">
              <canvas id="barChart"></canvas>
            </div>
      </div>
      </div>
<!--
  <div class="row center ">
  </div> -->

  </strong>
    </div>

    <!-- Start your project here-->

    <!-- /Start your project here-->

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>



    <script type="text/javascript">
      //pie
      var ctxP = document.getElementById("pieChart").getContext('2d');
      var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
          labels: ["A favor", "En Contra", "Abstención"],
          datasets: [{
            data: [{{si}}, {{no}}, {{abstencion}}],
            backgroundColor: ["#0000FF","#8A2BE2","#A52A2A"],
            hoverBackgroundColor: ["#0000FF","#8A2BE2","#A52A2A"],
          }]
        },
        options: {
          responsive: true
        }
      });
    </script>
    <script type="text/javascript">
      var ctxB = document.getElementById("barChart").getContext('2d');
      var myBarChart = new Chart(ctxB, {
      type: 'horizontalBar',
      data: {
        labels: ["A favor", "En contra"],
        datasets: [{
          label: 'Votos',
          data: [{{si}}, {{no}}],
          backgroundColor: ["#0000FF","#8A2BE2","#A52A2A"],
          borderColor: ["#0000FF","#8A2BE2","#A52A2A"],
          borderWidth: 1
        }]
      },
      options: {
        title: {
          display: true,
          text: 'Resultado Votación',
        },
        scales: {
          xAxes: [{
          ticks: {
            min: 0,
            beginAtZero: true,
          }
          }]
        }
      }
      });
    </script>
     {% endblock %}
  </body>

</html>